<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h2>Concatenar textos</h2>
    <input type="text" id="campo1" placeholder="Texto 1">
    <input type="text" id="campo2" placeholder="Texto 2">
    <button onclick="concatenar()">Concatenar</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
