body {
    font-family: sans-serif;
    padding: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: red;
    color: white;
    cursor: pointer;
}
